@use "../../scss/abstracts/" as *;

header {
    .inner-header {
        color: $white;
        border: 0.065rem solid rgba($white, 0.5);
        background: $dark-grey-201;
        background: linear-gradient(180deg, $dark-grey-200 0%, $dark-grey-201 100%);
    }
}
