@use "../../scss/abstracts/" as *;

.c-users {
    .list-group {
        border-radius: 0;

        a {
            background: $dark-grey-201;
            color: $white;
            border: 0.065rem solid $black;
            transition: background 0.3s ease-out;
            margin: 0 0 0.35rem;
            border-radius: 15px;

            &:hover {
                background: $dark-grey-200;
            }

            &.selected {
                background-color: rgba($white, 0.15);
            }
        }
    }
}
